* {
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

nav {
    font-family: 'Roboto Slab', serif;
    display: flex;
    justify-content: space-around;
    color: #312783;
    line-height: 200%;
    font-size: 1.2em;
}

nav a {
    text-decoration: none;
    color: #312783;
}

/* unvisited link */
nav a:link {
    text-decoration: none;
    color: #312783;
}

/* visited link */
nav a:visited {
    text-decoration: none;
    color: #312783;
}

/* mouse over link */
nav a:hover {
    text-decoration: none;
}

/* selected link */
a:active {
  text-decoration: none;
}

hr {
    border: 1px solid #312783;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header img {
    max-width: 80%;
    
}

header hr {
    border: 1px solid #f49d72;
    width: 100%;
}

section div {
    margin: 3%;
}


#inicio {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-family: 'Roboto Slab', serif;
}

#inicio p {
    font-family: 'Raleway', sans-serif;
}

#inicio div {
    max-width: 30%;
    min-width: 25%;
}

#nuestros-servicios {
    text-align: center;
    font-size: 1.2em;
    font-family: 'Roboto Slab', serif;
    line-height: 200%;
}

#nuestros-servicios ul {
    font-family: 'Raleway', sans-serif;
}

#afiliaciones div {
    font-family: 'Roboto Slab', serif;
}

#afiliaciones img {
    max-width: 20%;
}

#afiliaciones ul {
    font-family: 'Raleway', sans-serif;
}

#contacto {
    text-align: center;
    font-size: 1.2em;
    font-family: 'Roboto Slab', serif;
    line-height: 200%;
}