* {
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

nav {
    font-family: 'IM Fell French Canon', serif;
    display: flex;
    justify-content: space-around;
    color: #312783;
    line-height: 200%;
    font-size: 1.2em;
    width: 100%;
    border-bottom: 2px solid #312783;
}

nav div {
    margin: 2%;
}

nav a {
    text-decoration: none;
    color: #312783;
}

/* unvisited link */
nav a:link {
    text-decoration: none;
    color: #312783;
}

/* visited link */
nav a:visited {
    text-decoration: none;
    color: #312783;
}

/* mouse over link */
nav a:hover {
    text-decoration: none;
}

/* selected link */
a:active {
  text-decoration: none;
}


header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

header img {
    max-width: 35%;
    
}

header hr {
    border: 1px solid #f49d72;
    width: 80%;
}

section div {
    margin: 3%;
}


#inicio {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-family: 'IM Fell French Canon', serif;
}

#inicio h3 {
    color: #312783;
}

#inicio i {
    color: #f49d72;
}

#inicio p {
    font-family: 'Open Sans', sans-serif;
    font-size: .8em;
    color: #7A7A7C;
}

#inicio div {
    max-width: 30%;
    min-width: 25%;
}

#nuestros-servicios {
    text-align: center;
    font-size: 1.2em;
    font-family: 'IM Fell French Canon', serif;
}

#nuestros-servicios h3 {
    color: #312783;
}

#nuestros-servicios i {
    color: #f49d72;
}

.services-list {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid #f49d72;
    border-radius: 10px;
    max-width: 70%;
    justify-content: center;
    margin: auto;
}

#nuestros-servicios ul {
    font-family: 'Open Sans', sans-serif;
    font-size: .8em;
    color: #3a6ea5;
}

#nuestros-servicios p {
    font-size: .8em;
    font-family: 'Open Sans', sans-serif;
}

#nuestros-servicios hr {
    width: 80%;
    border: 1px solid #f49d72;
}

#afiliaciones div {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-flow: column;
    align-items: center;
}

#afiliaciones h3 {
    font-family: 'IM Fell French Canon', serif;
    text-align: center;
    color: #312783;
}

#afiliaciones i {
    color: #f49d72;
}

#afiliaciones h5 {
    text-align: center;
    color: #312783;
}

#afiliaciones img {
    max-width: 20%;
}

#afiliaciones ul {
    font-family: 'IM Fell French Canon', serif;
}

#afiliaciones p {
    font-family: 'Open Sans', sans-serif;
    color: #7A7A7C;
    font-size: .8em;
}

#contacto {
    text-align: center;
    font-size: 1.2em;
    font-family: 'Open Sans', sans-serif;
    line-height: 200%;
}

.gif {
    max-width: 50%;
    margin: auto;
    text-align: center;
    display: block;
}

footer {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

footer a {
    text-decoration: none;
    color: black;
}