html {
    scroll-behavior: smooth;
}

nav {
    font-family: 'Roboto Slab', serif;
    display: flex;
    justify-content: space-around;
    color: #312783;
    line-height: 200%;
    font-size: 1.2em;
}

a {
    text-decoration: none;
}

hr {
    border: 1px solid #312783;
}